*
!/.github/
!/LICENSES/
!/docs/
!/releases/
!/.github/ISSUE_TEMPLATE/
!/releases/v0.8/
!/.gitattributes
!/.github/ISSUE_TEMPLATE/bug_report.yml
!/.gitignore
!/CHANGELOG.md
!/LICENSES/Galmuri_LICENSE.txt
!/README.md
!/docs/APPLY.md
!/docs/ATTRIBUTION.md
!/docs/VERIFICATION.md
!/releases/v0.8.md
!/releases/v0.8/SHA256SUMS.txt
!/releases/v0.8/manifest.json
!/releases/v0.8.1/
!/releases/v0.8.1.md
!/releases/v0.8.1/SHA256SUMS.txt
!/releases/v0.8.1/manifest.json
